
<div class="jumbotron">
	

<body>

<!-- Container (The Band Section) -->

<div id="band" class="container text-center">
  <h3>TRANCEON</h3>
  <p><em>We love music!</em></p>
  <p>Previous releases on:<br>
	Trance Arena Music<br>
	Dirt Lies,& Audio<br>
	Alyf Recordings<br>

	Upcoming releases on:<br>
	Vital Soho<br>
	Alyf Recordings<br>
	Soaring Sounds.</p>
  <br>
  <%= link_to '', 'https://www.facebook.com/TranceonTrance/?ref=br_tf', class: "btn btn-primary btn-lg fa fa-facebook"%>
<iframe allowtransparency="true" scrolling="no" frameborder="no" src="https://w.soundcloud.com/icon/?url=http%3A%2F%2Fsoundcloud.com%2Fmaktrance&color=orange_white&size=40" style="width: 40px; height: 40px;">
</iframe>
</div>
</div>

  <br>
  
</body>
